.button {
    padding:2rem;
    border-radius:.3rem;
    font-size:2rem;
    text-align:center;
    color:#000;
}

.button.round {
    padding:2rem;
    border-radius:5rem;
}

@media (max-width:768px) {
    .button {
        padding:1rem;
    }
  }